---
import type { EducationInfo, Job } from "../types";
import type { TimelineItem } from "./solid/Timeline.tsx";
import Timeline from "./solid/Timeline.tsx";

interface Props {
  workInfo: Job[];
  educationInfo: EducationInfo[];
}

const { workInfo } = Astro.props;
const workItems = workInfo.map(
  (work): TimelineItem => ({
    ...work,
    institution: work.name,
    institutionUrl: work.url,
  })
);
---

<section class="mt-14 md:mt-18">
  <Timeline items={workItems} />

  <h2 class="mt-14 md:mt-18 text-2xl font-bold">TODO EDUCATION HERE</h2>
</section>
