---
import type { EducationInfo, Job } from "../types";
import type { TimelineItem } from "./solid/Timeline";
import Timeline from "./solid/Timeline";

interface Props {
  workInfo: Job[];
  educationInfo: EducationInfo[];
}

const { workInfo } = Astro.props;
const workItems = workInfo
  .map(
    (work): TimelineItem => ({
      ...work,
      institution: work.name,
      institutionUrl: work.url,
      location: work.location,
    })
  )
  .sort((a, b) => {
    if (!a.endDate) return -1;
    if (!b.endDate) return 1;

    return new Date(b.endDate).getTime() - new Date(a.endDate).getTime();
  });
---

<section class="space-y-10 mt-14 md:mt-16">
  <Timeline items={workItems} />
</section>
