<div class="projects mt-10">
  <h3>Side Projects</h3>

  <p class="text-sm text-mfed-tertiary inline-block mt-3">
    I don't really have any super impressive open source projects at the moment,
    but I like to tinker with new things and technologies. Here are a few things
    I'm working on at the moment during my free time. All of it are focused on
    my specific workflow and needs.
  </p>
</div>
